*{
    background-color: rgb(203, 224, 243)
         }
img{
    display: block;
}

h6 {
    
    text-align: center;
    margin: 0px;
    background-color: rgb(203, 224, 243);
    padding-bottom: 10px;
    padding-top: 10px;
    
}

p {
    text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    margin: 0px;
    background-color: rgb(203, 224, 243);
    ;
}

.dropdown {
    margin: 0px;
    background-color: rgb(203, 224, 243);
}

 .direccion {
    text-align: center;
    background-color: rgb(203, 224, 243);
}

.contacto {
    background-color: rgb(204, 178, 228);
    text-align: center;
}

*detalle {
    text-align: center;
    background-color: rgb(188, 235, 219);
}